<!DOCTYPE html>
<html>
  <head>
    <title>AnimatedgifMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.11.2/css/all.css">
  </head>

  <body>

    <%= render "shared/navbar" %>

    
    <%= yield %>
  </body>
</html>
